m-spinner {
  --color: #0f7bc2;
}

m-spinner[size="tiny"] {
  --border-width: 2px;
  --size: 0.75rem;
}

m-spinner[size="mini"] {
  --border-width: 2px;
  --size: 0.85rem;
}

m-spinner[size="small"] {
  --border-width: 2px;
  --size: 1rem;
}

m-spinner,
m-spinner[size="medium"] {
  --border-width: 3px;
  --size: 1.25rem;
}

m-spinner[size="large"] {
  --border-width: 3px;
  --size: 1.75rem;
}

m-spinner[size="big"] {
  --border-width: 4px;
  --size: 2.5rem;
}

m-spinner {
  display: inline-block;
  position: relative;
}

m-spinner[hidden] {
  display: none;
}

m-spinner,
m-spinner:after,
m-spinner:before {
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
}

m-spinner:after,
m-spinner:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: calc(var(--size) / -2);
  margin-left: calc(var(--size) / -2);
}

m-spinner:after {
  animation: spinner 0.6s linear infinite;
  border: var(--border-width) solid transparent;
  border-top-color: var(--color);
}

m-spinner:before {
  border: var(--border-width) solid var(--color);
  opacity: 0.1;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
